.form {
}

label {
  font-size: 13px;
  color: #8e8e8e;
}

input,
textarea {
  opacity: 0.9;
  width: 100%;
}

textarea {
  height: 50px;
  outline: none;
}

.form__submit {
  width: 100%;
  margin-bottom: 50px;
}
