.welcome__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome__logo {
  text-shadow: 2px 2px var(--accentColor);
}

.welcome__logo h1 {
  margin-bottom: 0px;
}

.welcome__heading {
  width: 250px;
  text-align: center;
  color: #8e8e8e;
}

.welcome__line2 {
  color: var(--accentColor);
}

.welcome__image {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.welcome__image img {
  width: 248px;
}
